<footer>
  <div class='footer-img'>
 

    <%# <%= image_tag("IMG_1888.jpeg", alt: 'テスト画像', class:"obn-img") %> %>
    <%# <%= image_tag("IMG_1889.jpeg", alt: 'テスト画像', class:"obn-img") %> %>
    <%# <%= image_tag("IMG_1890.jpeg", alt: 'テスト画像', class:"obn-img") %> %>
  </div>
</footer>


