<footer>
  <div class='footer-img'>
    <%= link_to image_tag("IMG_1888.jpeg", class:"obn-img"), "#" %>
    <%= link_to image_tag("IMG_1889.jpeg", class:"obn-img"), "#" %>
    <%= link_to image_tag("IMG_1890.jpeg", class:"obn-img"), "#" %>
  </div>
</footer>